<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/untitled1">
        <classes>
            <class name="testCase.TC01HomeTest">
                <methods>
                    <include name="clickButton"/>
                </methods></class>
            <class name="testCase.TC02OrderTest">
                <methods>
                    <include name="placeOrderAsaGuestUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>